<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Nós temos o que você precisa!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">
          Além de acelerar o desenvolvimento do seu site utilizando um template base para o seu projeto, nós também hospemos seu site com planos escaláveis de número de usuários. Pague apenas pelo que usar!</p>
        <p class="text-faded mb-4">
          Também desenvolvemos projetos em branco, onde o projeto vai atender todas as suas necessidades específicas.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Comece já!</a>
      </div>
    </div>
  </div>
</section>