<section class="bg-darkgrey" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading white">A seu dispor</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 yellow">Templates</h3>
          <p class="text-muted mb-0">Nós selecionamos o melhor template para seu negócio com funcionalidades pré prontas para o uso.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 yellow">Finalização rápida</h3>
          <p class="text-muted mb-0">Com o uso de tamplates nós finalizamos o trabalho mais rapidamente!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-server text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 yellow">Sempre disponível</h3>
          <p class="text-muted mb-0">Nós utilizamos as melhores práticas de hospedagem e manutenção.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 yellow">Feito com carinho</h3>
          <p class="text-muted mb-0">Todos os nossos serviços são prestados com muito cuidado nos menores detalhes.</p>
        </div>
      </div>
    </div>
  </div>
</section>